		<header id="main-header">
			<div class="container">
				<h1>bjorsq</h1>
				<p class="lead">{{page.title}}</p>
			</div>
		</header>

		<section>
			<div class="container">
				<div id="recipes" class="content">
				{% for post in site.categories[page.category] %}
					<article class="recipe">
					    <header><h4><a href="{{ post.url }}">{{ post:title }}</a></h4></header>
					    <p>{{ post:excerpt | markdownify }}</p>
					    <div data-photo-id="{{ post:photo_id }}" class="recipe-photo" data-title="{{ post.title }}" data-thumbsize="Thumbnail"></div>
					</article>
				{% endfor %}
				</div>
			</div>
		</section>
