<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <link href="{{ ASSET_PATH }}/css/style.min.css" rel="stylesheet">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ ASSET_PATH }}/img/icons/favicon.ico">
    <link rel="apple-touch-icon" href="{{ ASSET_PATH }}/img/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ ASSET_PATH }}/img/icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ ASSET_PATH }}/img/icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ ASSET_PATH }}/img/icons/apple-touch-icon-152x152.png">
  </head>

  <body>

    <div class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main_navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">bjorsq</a>
        </div>
        <div class="navbar-collapse collapse" id="main_navbar">
          <ul class="nav navbar-nav">
            <li{% if page.title == 'photos' %} class="active"{% endif %}>
              <a href="/photos">photos</a>
            </li>
            <li{% if page.title == 'videos' %} class="active"{% endif %}>
              <a href="/videos">videos</a>
            </li>
            <li{% if page.title == 'podcast' %} class="active"{% endif %}>
              <a href="/podcast">music</a>
            </li>
            <li{% if page.category == 'recipes' %} class="active"{% endif %}>
              <a href="/recipes">recipes</a>
            </li>
            <li{% if page.title == 'curriculum vitae' %} class="active"{% endif %}>
              <a href="/cv/">CV</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    {{ content }}


    <footer class="footer">
      <div class="container">

      </div>
    </footer>

    <script src="{{ ASSET_PATH }}/js/script.min.js"></script>
    {% include JB/analytics %}
    
  </body>
</html>