		<header id="main-header">
			<div class="container">
				<h1>bjorsq</h1>
				<p class="lead">{{page.title}}</p>
			</div>
		</header>

		<section>
			<div class="container">
				<div class="pagecontent">
			 
						{{content}}

				</div>
			</div>
		</section>
