    <header id="main-header">
      <div class="container">
        <h1>bjorsq</h1>
        <p class="lead"><a href="{{ BASE_PATH }}/{{ page.category }}">{{ page.category }}</a> &raquo; {{ page.title }}</p>
      </div>
    </header>

    <section>
      <div class="container">
        <div class="pagecontent">
            <div data-photo-id="{{ page.photo_id }}" class="recipe-photo" data-title="{{ page.title }}" data-thumbsize="Medium"></div>
        
            {{content}}

            <nav>
              <ul class="pagination">
              {% if page.previous %}
                <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
              {% else %}
                <li class="prev disabled"><a>&larr; Previous</a></li>
              {% endif %}
              {% if page.next %}
                <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
              {% else %}
                <li class="next disabled"><a>Next &rarr;</a>
              {% endif %}
              </ul>
            </nav>

            {% include JB/comments %}


        </div>
      </div>
    </section>

